$bg-color:#FFFFFF;
$padding: 20px; 
$cardMargin: 20px;
$cardWidth: 222px;
$cardHeight: 360px;
$titleColor: rgba(65, 65, 65, 1);

body,
.main,
#root,
html {
 width:100vw;
 height: 100vh;
 overflow:hidden;
 background-color:$bg-color;
 margin:0;
} 
.top {
    height:100px;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    padding: 20px;
    font-family: Anek Telugu, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    box-shadow:none!important;
    border-bottom:1px solid #000;
    .title {
        cursor:pointer;
        margin-right: 75px;
    }
}
.likes-container {
    height: calc(100% - 105px); 
    display:flex;
    align-items: center;
    justify-content: center;
}
.likes {
    margin-top: 160px;
    height: calc(100vh - 140px);
    width: 407px;
    position: relative;
    > svg {
        position: absolute; 
        pointer-events: none;
        > path{
            fill: none;
            stroke: #414141;
            stroke-width: 1;
            stroke-dasharray: 12, 12;
        }
    }
    .title {
        font-family: Anek Telugu, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0.05em;
        text-align: left;
        padding: 50px 20px 20px;
        text-transform:uppercase;
    }
    .contents {
        max-height: calc(100vh - 360px);
    }
}
.item-like-card
{
    padding:20px;
    box-shadow: none!important;
    .item-like-card-content
    {
        display:flex;
        flex-direction:column;
        height:100%;
        width:100%;
        justify-content: space-around;
        padding: 0 16px;
        .title {
            font-family: Poppins, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $titleColor;
            padding: 0;
            text-transform: none;

        }
        .item-like-card-content-price{
            display:flex;
            justify-content: space-between;
            .price {
                font-family: Poppins;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                color: $titleColor;

            }
        }
        
    }
}
.auto-overflow-y
{
    overflow-y: auto;
}
.List {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 204, 38, 1) transparent;
}
.auto-overflow-y::-webkit-scrollbar,
.List::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
.auto-overflow-y::-webkit-scrollbar-track,
.List::-webkit-scrollbar-track {
    background: rgba(65, 65, 65, 0.3);
}
.auto-overflow-y::-webkit-scrollbar-thumb,
.List::-webkit-scrollbar-thumb {
    background-color: rgba(255, 204, 38, 1) ;
    border-radius: 12px;
    border: 3px solid rgba(255, 204, 38, 1);
}

.item {
    padding:$padding; 
    margin:$cardMargin;
    margin-top: 70px;
    height: $cardHeight;
    display:flex;
    flex-direction: column;
    width: $cardWidth; 
    box-shadow: none!important; 
    border-radius: 30px!important; 
    background-color: transparent!important;
    position:relative;
    > svg {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        pointer-events: none;
        > path{
            fill: none;
            stroke: #414141;
            stroke-width: 1;
            stroke-dasharray: 12, 12;
        }
    }

    .thumbnail { 
        cursor:pointer;
    }
    .title {
        flex-grow:100;
        font-family: Poppins, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor:pointer;
    }
    .price {
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        padding: 0 20px;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .like {
        cursor:pointer;
        position: absolute;
        bottom:16px;
        right: 30px;
        svg {
            fill:#FF0000;
        }
    }
}
.product
{
    position:relative;
    display:flex;
    width: 100%;
    height:100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px 0 0;
    .image {
        width: 50%;
        max-width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:relative;
        .thumbnail {
            max-width: 440px;
        }        
    }
    .content-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        max-height: 440px;
        padding-left: 40px;
       .title {
            font-family: Poppins, sans-serif;
            font-size: 64px;
            font-weight: 400;
            line-height: 96px;
            letter-spacing: 0em;
            text-align: left;
            color:  $titleColor;
            max-width:600px;
        }
        .params {
            display:flex;
            width: 100%;
            justify-content: space-between;
            .price {
                font-family: Poppins, sans-serif;
                font-size: 64px;
                font-weight: 500;
                line-height: 96px;
                letter-spacing: 0em;
                text-align: left;
                color:  $titleColor;
    
            } 
        }
        
    }
}
.error-message
{
    position:absolute;
    top: 5px;
    left: 5px;
    padding:20px;
    background-color:#FF0000;
    color:#FFF;
}